*{
font-family: 'Montserrat Alternates', sans-serif;
box-sizing: border-box;;
margin: 0px;
font-size: 48px;
}
header{
    height: 10vh;
    background: url(../assets/continent.jpg);
    background-repeat: repeat;
    background-image:linear-gradient(to right chocolate, brown) ;
    background-size: cover;


}
nav a{
    text-decoration: none;
    color: #fabc3c;
    box-sizing: border-box;
    box-shadow: black 2px;
    background-color: black;
    border-radius: 3px;
}
nav a:hover{
    color: white;
    background-color:#fabc3c ;
}
.container{
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}
img{
    border-radius: 50%;
    height:600px;
    width: 600px;
}
.col{
    display: flex;
}
.col p{
    display: inline-block;
}
/* .formu{
    display: flex;
    justify-content: center;
} */

.form
{
    max-width: 1000px;
    margin: auto;
    padding: 28px;
}

.form-control:active
{
    border: 1px solid #fabc3c;
}

.form-control:target
{
    border: 1px solid #fabc3c;
}

input:active
{
    border: 1px solid #fabc3c;
}


/* BUTTON STYLING */


a #getName{
    background-color: transparent;
    border: 1px solid #000000;
    color: #000000;
    border-radius: 3px;
    margin-bottom:0px
}
.getName{
    display: flex;
    justify-content:center ;
}
a #getName:hover{
    background-color: #fabc3c;
    border: 1px solid #fabc3c;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    color: white;
}

.btn-primary
{
    background-color: transparent;
    border: 1px solid #000000;
    color: #000000;
    border-radius: 3px;
}

.btn-primary:hover
{
    background-color: #fabc3c;
    border: 1px solid #fabc3c;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    color: white;
}
footer{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    
}
